.filter-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    width: 250px;
    position: relative;
}


.language-filter a {
    text-decoration: underline !important;
    color: #128FFE !important;
    font-weight: 500;
}

.sidebar-toggle.toggleMenubar button .mat-icon {
    color: #5380CD;
}
