<div class="container">
    <div class="advance-digital">
        <div class="row">
            <div class="col-md-8">
                <p class="h3"><strong>DIGITAL R&amp;D MAP READING GUIDE</strong></p>
                <hr>
            </div>
            <div class="col-md-4 text-center"><button class="button button1" [routerLink]="['../ndhs/ndhs-map']"> Skip To The R&amp;D
                    Map </button></div>
        </div>
        <br>
        <p> R&amp;D development map presents data collected on patents (left side), publications (right side), and the
            translation between them. </p><br>
        <div class="row">
            <div class="col-md-12"><img src="/assets/images/patents-research-guide.jpg" alt=""
                    class="img-fluid center-block d-block mx-auto" style="max-width: 80%;"></div>
        </div><br><br>
        <p> All the information can be obtained for one of the nine regions, or at the global level. The switching of
            scope can be done with the region select button above the map, which itself reflects the selection. </p>
        <p> Overview tabs for patents and research give the total counts and the most frequent field. More in depth info
            is obtained using the exploration tabs below. </p>
        <p> Patent exploration tab gives the relative frequency of different fields, distribution of patents according
            to several attributes, and the biggest contributor at the local and global level. Clicking any of the
            dashboards gives a popup additional plots and information. </p>
        <p> Publication exploration tab shows the counts in the last 5 years according to different trends, as well as
            the monthly distribution in the last year. Biggest contributor is shown at the bottom. </p>
        <p> Some of the plots are shared between the two sides e.g. individual contributor institutions,
            patent/publication ratios etc. Some of the choices are not affected by the region selection and show the
            global level only. </p>
        <p> The central translation tab shows the comparison of patents and publication for the top 5 categories, while
            clicking it can give the results for all of them. </p>
        <p> All the charts can be accessed in a different page by using the “View all charts” button on the top right of
            the header bar. </p><br><br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center"><button class="button button1" [routerLink]="['../ndhs/ndhs-map']"> Go To The R&amp;D
                    Map </button></div>
        </div>
    </div>
</div>
