<div class="container">
    <div class="advance-digital">
        <div class="row">
            <div class="col-md-8">
                <p class="h3"><strong>NDHS MAP READING GUIDE </strong></p>
                <hr>
            </div>
            <div class="col-md-4 text-center"><button [routerLink]="['../ndhs/ndhs-map']" class="button button1"> Skip to the Map
                </button></div>
        </div>
        <br>
        <p> The National Digital Health Strategy dashboard has two analogous sections - digital health (DH) landscape,
            and Health &amp; IT landscape. Both sections have the same presentation, and the context is switched at the
            top: </p><br>
        <div class="row">
            <div class="col-md-12"><img src="/assets/images/national-dh-strategy-map-guide.jpg" alt=""
                    class="img-fluid center-block d-block mx-auto" style="max-width: 80%;"></div>
        </div><br><br>
        <p> Currently selected country is shown at the grey button near the top, and the same button features the
            dropdown selection menu. The Geographical position of all the countries is shown in the map at the central
            position. </p>
        <p> Left panel group shows indicators of current development, while the right section of panels shows indicators
            of future development. Each panel shows the aggregated score, and two constituent scores just below it. </p>
        <p> Clicking either left or right “Show data” button brings up the overview of indicators used in compiling the
            dashboards. Each section is divided into dichotomous questions formulated so that “Yes” represents a
            positive outcome. </p><br>
        <div class="row">
            <div class="col-md-12"><img src="/assets/images/DH-infra-.jpg" alt=""
                    class="img-fluid center-block d-block mx-auto" style="max-width: 60%;"></div>
        </div><br>
        <p> Each question can also have a “missing” state, which can be interpreted as negative in some dashboard
            contexts. </p><br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center"><button [routerLink]="['../ndhs/ndhs-map']" class="button button1"> Go To the Map
                </button></div>
        </div>
    </div>
</div>
