.example-spacer {
    flex: 1 1 auto;
}

::ng-deep .mat-toolbar-single-row {
    height: 95px;
}

.header-area button {
    background: transparent;
    border: none;
}

.logo {
    display: inline-block;
    margin-right: 20px;
    width: 200px;
    cursor: pointer;
}

.brand-img {
    display: flex;
    align-items: center;
}

.logo-title h1 {
    font-weight: 600;
    color: #5380CD;
}

.logo-title a {
    font-size: 13px;
    text-decoration: none;
    color: #5380CD;
    padding: 2px 5px;
    border-radius: 3px;
}

.logo-title a svg {
    width: 13px;
    height: 13px;
}

.header-area nav.navbar ul li a {
    font-size: 16px;
    color: #5380CD !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    font-weight: 400;
}

/* .header-tabs {
    border-top: 3px solid #fff !important;
}

.header-tabs button.active {
    border-top: 3px solid #fff !important;
    color: #fff;
    background: #64D3BB;
}

.header-tabs button {
    background-color: #e4e4e4;
    font-weight: 400;
} */

.btn1 {
    border-radius: 30px 0px 0px 30px;
}

.btn2 {
    border-radius: 0px 30px 30px 0px;
}
.language-filter a {
    font-size: 14px;
    font-weight: 400;
}
@media only screen and (max-width:990px) {
    .header-area div#navbarNav {
        position: absolute;
        top: 53px;
        right: 1rem;
    }

    button.navbar-toggler:focus {
        box-shadow: none;
        outline: none;
    }
}

@media only screen and (max-width:767px) {
    .logo-title h1 {
        display: none;
    }

    .header-tabs button {
        padding: 0 5px;
    }
}
