<div class="loader-overlay" *ngIf="showLoader">
    <div class="loadingspinner"></div>
</div>
<div class="two-column-layout">
    <div class="language-sidebar">
        <div class="example-sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()" disableRipple>
                <div class="selected-language">
                    <mat-icon>arrow_left</mat-icon><img src="assets/flags/{{ country_flag }}" />{{ country_name }}
                </div>
            </button>
        </div>
        <mat-drawer-container class="example-container" autosize>
            <mat-drawer #drawer class="example-sidenav" mode="side">
                <div class="search-content">
                    <div class="mat-search">
                        <a (click)="drawer.toggle()">
                            <mat-icon>arrow_right</mat-icon>
                        </a>
                        <div class="mat-serach-input">
                            <input type="text" placeholder="search" (keyup)="onCountryChange($event)" />
                        </div>
                    </div>
                    <div class="country-list">
                        <ul>
                            <li *ngFor="let country of country_list" (click)="drawer.close()">
                                <div class="selected-language" style="cursor: pointer;"
                                    [ngClass]="{ 'active' : country_id == country.country_id }"
                                    (click)="selectCountry(country)">
                                    <img src="assets/flags/{{country.flag}}" />{{country.country_name}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <p *ngIf="showFiller">
                    Lorem, ipsum dolor sit amet consectetur.
                </p>
            </mat-drawer>
        </mat-drawer-container>
        <div class="header-tabs">
            <button class="btn1" (click)="toggle(1)" [ngClass]="{ 'active' : governance_id == 1 }" mat-button>Health & IT</button>
            <button class="btn2" (click)="toggle(2)" [ngClass]="{ 'active' : governance_id == 2 }" mat-button>Digital Health</button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="tab-section" [ngClass]="governance_id == 1 ? 'showTab' : 'hideTtab'">
            <div class="panel">
                <div class="panel-heading d-flex">
                    <h2>Present Development</h2>
                    <button mat-stroked-button color="primary" [routerLink]="['../present-development']">
                        View Data
                    </button>
                </div>
                <div class="panel-content">
                    <pie-chart-card [taxonomies]="health_taxonomies_present"></pie-chart-card>
                </div>
            </div>
            <!-- panel one End -->
            <!-- panel one start -->
            <div class="panel">
                <div class="panel-heading d-flex">
                    <h2>Prospective Development</h2>
                    <button mat-stroked-button color="primary" [routerLink]="['../prospective-development']">
                        View Data
                    </button>
                </div>
                <div class="panel-content">
                    <pie-chart-card [taxonomies]="health_taxonomies_prospective"></pie-chart-card>
                </div>
            </div>
        </div>
        <div class="tab-section" [ngClass]="governance_id == 2 ? 'showTab' : 'hideTtab'">
            <div class="panel">
                <div class="panel-heading d-flex">
                    <h2>Present Development</h2>
                    <button mat-stroked-button color="primary" [routerLink]="['../present-development']">
                        View Data
                    </button>
                </div>
                <div class="panel-content">
                    <pie-chart-card [taxonomies]="digital_taxonomies_present"></pie-chart-card>
                </div>
            </div>
            <!-- panel one End -->
            <!-- panel one start -->
            <div class="panel">
                <div class="panel-heading d-flex">
                    <h2>Prospective Development</h2>
                    <button mat-stroked-button color="primary" [routerLink]="['../prospective-development']">
                        View Data
                    </button>
                </div>
                <div class="panel-content">
                    <pie-chart-card [taxonomies]="digital_taxonomies_prospective"></pie-chart-card>
                </div>
            </div>
        </div>

    </div>
</div>
